/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
.box-shadow, body {
  background-color: #cd7785;
  background: -webkit-radial-gradient(#cd7785 0%, #551350 100%);
  background: -moz-radial-gradient(#cd7785 0%, #551350 100%);
  background: -ms-radial-gradient(#cd7785 0%, #551350 100%);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}

/* line 18, ../sass/screen.scss */
.block, #page-container #page-content {
  background-color: #f1f1f1;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* line 27, ../sass/screen.scss */
body {
  font-family: 'Domine', serif;
  color: #000;
  font-size: 0.85em;
}
/* line 32, ../sass/screen.scss */
body h1 {
  font-family: 'Elsie Swash Caps', cursive;
}
/* line 35, ../sass/screen.scss */
body h2 {
  font-family: 'Life Savers', cursive;
}

/* line 44, ../sass/screen.scss */
#page-container .has-left-sidebar {
  padding: 10px;
}

/* line 49, ../sass/screen.scss */
.login-container, .register-container {
  padding: 3%;
}
/* line 51, ../sass/screen.scss */
.login-container .controls, .register-container .controls {
  margin-left: 0;
}
/* line 54, ../sass/screen.scss */
.login-container .login-form, .register-container .login-form {
  border: 1px solid #ccc;
  border-radius: 3%;
  padding: 1% 3%;
}

/* line 62, ../sass/screen.scss */
.register-container .control-label {
  margin-right: 1%;
}
/* line 65, ../sass/screen.scss */
.register-container .submit {
  margin-left: 34%;
}

/* line 70, ../sass/screen.scss */
.tour-name {
  font-size: 1.5em;
}
