/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.box-shadow{
  $mainBgColor: #cd7785;
  $mainBgGradColor: #551350;
  background-color: $mainBgColor;
  background: -webkit-radial-gradient($mainBgColor 0%, $mainBgGradColor 100%);
  background: -moz-radial-gradient($mainBgColor 0%, $mainBgGradColor 100%);
  background: -ms-radial-gradient($mainBgColor 0%, $mainBgGradColor 100%);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}

.block{
  $blockBgColor: #F1F1F1;
  $blockBgGradColor: #E3E3E3;
  background-color: $blockBgColor;
  border: 1px solid $blockBgGradColor;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

body{
  @extend .box-shadow;
  font-family: 'Domine', serif;
  color: #000;
  font-size: 0.85em;
  h1{
    font-family: 'Elsie Swash Caps', cursive;
  }
  h2{
    font-family: 'Life Savers', cursive;
  }
}

#page-container{
  #page-content{
    @extend .block;
  }
  .has-left-sidebar{
    padding: 10px;
  }
}

.login-container{
  padding: 3%;
  .controls{
    margin-left: 0;
  }
  .login-form{
    border: 1px solid #ccc;
    border-radius: 3%;
    padding: 1% 3%;
  }
}
.register-container{
  @extend .login-container;
  .control-label{
    margin-right: 1%;
  }
  .submit{
    margin-left: 34%;
  }
}

.tour-name{
  font-size: 1.5em;
}